@import url("fonts/Caveat-Regular.ttf");
body {
    font-family: 'Caveat', cursive;
    background-color: burlywood;
}

#title {
    margin-left: 100px;
    font-size: 25px;
    font-weight: bold;
}

h1 {
    text-align: center;
    background-color: sandybrown;
}

h2 {
    font-family: monospace;
    background-color: sandybrown;
    text-align: center
}

h3 {
    background-color: sandybrown;
    text-align: center;
}

button {
    background-color: khaki;
    color: black;
}

table,
th,
td {
    border: 0.5px solid black;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

fieldset {
    background-color: sandybrown;
    border: 1px solid black;
}

legend {
    background-color: khaki;
}

#about-me {
    text-align: center;
    background-color: khaki;
    padding: 10px 0;
    margin-bottom: 15px;
}

#nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: sandybrown;
}

#nav li {
    float: left;
}

.nav-item-right {
    float: right !important;
}

#nav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#nav li a:hover:not(.active) {
    background-color: khaki;
}

#nav .active {
    background-color: khaki;
}

.img-size-medium {
    width: 33%;
}

.img-size-large {
    width: 40%;
}

li a,
.dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover,
.dropdown:hover .dropbtn {
    background-color: khaki;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}